*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* palette colori  */
:root{
    --cuore:#000000;
    --cuorebg:#ffffff;
    --firstbadge:#EB0037;
    --secondbadge:#00875A;
    --badgetext:#ffffff;
    --salep:#EB0037;

}

/* zona prodotti */
.products{
    width: 1200px;
    margin: 2rem auto;
    text-align: center;
    
    
}

/* celle prodotti */
.product{
    display: inline-block;  
    position: relative; 
    margin: 1rem;
  
}
/* sconti ed etichette */
.firstbg{
    position: absolute;
    bottom: 90px;
    left: -1px;
    z-index: 30;
}
.secondbg{
    position: absolute;
    bottom: 90px;
    left: 50px;
    z-index: 30;
}
.badge{
    padding: 4px;
    font-size: 1rem;
    color: var(--badgetext);
    
}
.bg_green{
    background-color: var(--secondbadge)
}
.bg_red{
    background-color: var(--firstbadge);
}
 .left{
     left: 0;
 }
/* wishlist */
.like{
    position: absolute;
    top: 20px;
    right: -1px;
    color: var(--cuore);
    background-color: var(--cuorebg);
    font-size: 30px;
    padding: 20px;  
}

.product-text{
    text-align: left;
}
/* prices */
.sale-price{
    color: var(--salep);
}

.old-price{
    text-decoration: line-through;
}

.product>img{
     width: 300px;
     object-fit: contain;
}

.hoverImg{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}

.hoverImg:hover{
    opacity: 1;
}


